@font-face {
    font-family: 'avantgarde';
    src: url('fonts/avantgarde.TTF') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'avantgarde';
}

.cuerpo{
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

/*-------- NAV BOOTSTRAP ----------*/

.offcanvas-title{
    font-weight: bolder;
    color: #ff3535;
    padding: 5px 10px;
    font-size: 20px;
}
.boton-buscar-nav {
    background-color: #ff3535; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease; 
}
.navbar-toggler-icon{
    color: #ff3535;
}
.boton-buscar-nav:hover {
    background-color: #ffacac;
}

.offcanvas-body {
    padding: 30px;
}
.offcanvas-start {
    width: 250px;
}

.navbar-toggler {
    position: absolute;
    left: 15px;
    top: 20px;
  }

/*-------- ENLACES ----------*/

.nav-link {
    font-weight: bold;
    color: rgb(175, 175, 175); 
}

.nav-link:hover {
    color: #ff3535; 
}

.nav-link.active {
    color: #ff3535;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
}

/*-------- BODY ----------*/

.bloque-color{
    background-color: #ff3535;
    width: 900px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.div-yo{
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}
.div-yo2{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.h1-delfina{
    padding-bottom: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 50px;
    font-family: 'avantgarde';
}
h2{
    font-size: 18px;
    color: white;
    margin-top: -10px;
    margin-bottom: 40px;
}
.introduccion{
    font-size: 15px;
    text-align: justify;
}
.div-medio{
    background-color: #ff3535;
    width: 900px;
    height: 10px;
}
hr{
    width: 900px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff3535;
}
.mis-gustos{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.ul-lista-gustos {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color: #ff3535;
    width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul{
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: white;
}
.img-yo{
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.fecha{
    color: grey;
    font-size: 15px;
    font-weight: lighter;
}
i{
    color: #ff3535;
    font-size: 25px;
    margin-right: 10px;
}

/*-------- FOOTER ----------*/

footer{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.contacto{
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
}

/*-------- FORM ----------*/

.form-button{
    background-color: #ff3535; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px; 
    transition: background-color 0.2s ease;
}
.form-button:hover{
    background-color: #ffacac;
}
.nombre{
    padding-right: 20px;
}
.apellido{
    padding-right: 20px;
}
.correo{
    padding-right: 30px;
}
h5{
    color: grey;
    font-size: 15px;
    font-weight: lighter;
}
.otros-contactos{
    padding-right: 20px;
    color: gray;
    font-weight: lighter;
}
.marca{
    width: 60px;
    height: auto;
    display: flexbox;
    margin-left: 740px;
    margin-top: -110px;
}